:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

/* 主页 Hero 部分图片背景色 */

:root {
  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}

/* Hero 部分 name 的颜色 */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
}
